{% extends "portfolio/index.html" %}

{% block main %}
<style>
  .navbar-nav{
    width: 100%;
}

@media(min-width:568px){
    .end{
        margin-left: auto;
    }
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
}
#clicked{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
}

#profile{
    background-color: unset;

}

#post{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}

body{
    background-color: black;
}

#nav-items li a,#profile{
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black;
}


.comments{
    margin-top: 5%;
    margin-left: 20px;
}

.darker{
    border: 1px solid #ecb21f;
    background-color: black;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

.comment{
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;

}
.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
}

.comment p,.comment span,.darker p,.darker span{
    color: rgb(184, 183, 183);
}

h1,h4{
    color: white;
    font-weight: bold;
}
label{
    color: rgb(212, 208, 208);
}

#align-form{
    margin-top: 20px;
}
.form-group p a{
    color: white;
}



#darker img{
    margin-right: 15px;
    position: static;
}

.form-group input,.form-group textarea{
    background-color: black;
    border: 1px solid rgb(7, 18, 18);
    border-radius: 12px;
}

form{
    border: 1px solid rgb(18, 23, 23);
    background-color: rgba(17, 29, 29, 0.973);
    border-radius: 5px;
    padding: 20px;
 }

</style>
<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Détails du post</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li class="current">Detail du post</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">
          <h3>{{post.title}}</h3>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
                {% for category in categories %}
                <a href="#" {% if category in post.category.all %}
                  class="active"
                {% endif %} >{{category.name}}</a>

                {% endfor %}
            </div>

            <!-- <h4>Enim qui eos rerum in delectus</h4>
            <p>Nam voluptatem quasi numquam quas fugiat ex temporibus quo est. Quia aut quam quod facere ut non occaecati ut aut. Nesciunt mollitia illum tempore corrupti sed eum reiciendis. Maxime modi rerum.</p> -->


            <!-- <img src="{{post.category.last.image.url}}" alt="" class="img-fluid
             services-img"> -->

             <p> {{post.content|slice:':200'}}-</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="{{post.image.url}}" alt="" class="img-fluid services-img " style="height: 500px; width:fit-content">


            <p>
              {{post.content|slice:'101:'}}
            </p>
          </div>

        </div>


        <!-- section commentaires -->
        <section>
          <div class="container">
              <div class="row">
                  <div class="col-sm-5 col-md-6 col-12 pb-4">
                      <h1 class="text-dark">Comments</h1>

                    {% if post.comments %}
                      {% for comment in post.comments.all %}
                        <div class="row comment mt-4 text-justify">
                            <h4>{{comment.user.last_name}} {{comment.user.first_name}}</h4>
                            <span>{{comment.create_at}}</span>
                            <br>
                            <p>{{comment.content}}</p>
                        </div>
                      {% endfor %}
                    {% else %}
                        <p class="alert alert-info ">Aucun commentaire sur cet article</p>
                    {% endif %}
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <h3>Laissez un commentaire</h3>
                    <form method="post">
                      {% csrf_token %}

                      {% for field in form %}
                        <div class="form-group">
                          {{ field.label_tag }} {{ field }}
                          {% if field.errors %}
                            <div class="text-danger">{{ field.errors }}</div>
                          {% endif %}
                        </div>
                      {% endfor %}

                      <button type="submit" class="btn btn-primary">Commenter</button>
                    </form>
                  </div>
              </div>
          </div>
      </section>
        <!-- fin section commenaitre -->

      </div>




      <div class="row" style="margin-left: 10%; margin-right:30%">


      </div>
    </section><!-- /Service Details Section -->


  </main>

{% endblock main %}
